<nav>
    <ul class="accordion-menu">

        <!-- Gestionar Usuarios -->
        <li class="accordion-item">

        <div class="accordion-header">
            <strong>Gestionar Administracion</strong>
            <span class="accordion-icon">+</span>
        </div>

        <ul class="accordion-content">
            <li><a href="/registrar_clientes/">Clientes</a></li>
            <li><a href="#">Trabajadorees</a></li>
            <li><a href="#">Administradores</a></li>
        </ul>
        </li>

        <!-- Inventario -->
        <li class="accordion-item">

        <div class="accordion-header">
            <strong>Inventario</strong>
            <span class="accordion-icon">+</span>
        </div>

        <ul class="accordion-content">
            <li><a href="#">Motores</a></li>
            <li><a href="#">Herramientas</a></li>
        </ul>
        </li>
        
        <!-- Servicios -->
        <li class="accordion-item">

        <div class="accordion-header">
            <strong>Servicios</strong>
            <span class="accordion-icon">+</span>
        </div>

        <ul class="accordion-content">
            <li><a href="#">Servicio de Motores</a></li>
            <li><a href="#">Otros</a></li>
            <li><a href="#" id="registrar-empleado-btn">Registrar empleado</a></li>
        </ul>
        </li>
        
        <!-- Registros -->
        <li class="accordion-item">

        <div class="accordion-header">
            <strong>Registros</strong>
            <span class="accordion-icon">+</span>
        </div>

        <ul class="accordion-content">
            <li><a href="#">Pagos</a></li>
            <li><a href="#">Diagnosticos</a></li>
            <li><a href="#">Ordenes de Trabajo</a></li>
            <li><a href="#">Facturas</a></li>
        </ul>
        </li>
        
        <!-- Otros -->
        <li class="accordion-item">

        <div class="accordion-header">
            <strong>Otros</strong>
            <span class="accordion-icon">+</span>
        </div>

        <ul class="accordion-content">
            <li><a href="#">Sugerencias</a></li>
            <li><a href="#">Horarios</a></li>
            <li><a href="#">Roles</a></li>
        </ul>
        </li>
        <!-- Clientes -->
        <li class="accordion-item">

        <div class="accordion-header">
            <strong>Clientes</strong>
            <span class="accordion-icon">+</span>
        </div>

        <ul class="accordion-content">
            <li><a href="#" id="registrar-cliente-btn">Registrar Cliente</a></li>
            <li><a href="#">Gestionar Cliente</a></li>
            <li><a href="#">Sugerencias</a></li>
        </ul>
        </li>
    </ul>
</nav>